 <hr/>
     <h2>Hello, <%= @user.first_name %>!</h2>

 <hr/>
<div class="jumbotron jumbotron-fluid">
  <div class="container profile">
    <img src="images/zee.jpg" class="rounded float-left zeepic" alt="zeepc">
    <h5>About <%= @user.first_name %></h5>
    <p class="lead"><em>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua.</em></p>
  </div>
  <form action="/admin" method="post">
  <input type="hidden" name="_method" value="DELETE">
 <button type="submit" class="btn btn-danger">Delete</button>
</form>
</div>

