
<form action="/myblog/<%= @specific_post.id %>" method="post">
  <input type="hidden" name="_method" value="PUT">
<div class="container newpost">
  <div class="row">
    <div class="col-md-6">
    	<label for="validationCustom01">Title</label>
            <input type="text" class="form-control"  name="title"  value="<%= @specific_post.title %>">
    </div>
    <div class="col-md-6">
    	<label for="validationCustom02">Post</label>
      <textarea type="text" class="form-control" name="body"><%= @specific_post.body %></textarea>
    </div>
    <div class="form-group col-md-6">
    	<label>Date</label>
      <input type="text" class="form-control"  name="date"  value="<%= @specific_post.date %>">
    </div>
  </div>
  <button class="btn btn-primary" type="submit">Publish</button>

</form>

<!-- <form action="/attendees/<(ENTER PERCENTTTTT SYMBOL)= @specific_attendee.id %>" method="post">
  <input type="hidden" name="_method" value="DELETE">
  <button type="submit" style="width:100px;height:100px">
</form> -->

