<hr />
<div class="container">
<form method="POST" action="/signup">
  <div class="row">
    <div class="col-md-6">
    	<label for="validationCustom01">First name</label>
      <input type="text" class="form-control" name="firstname" placeholder="First name">
    </div>
    <div class="col-md-6">
    	<label for="validationCustom02">Last name</label>
      <input type="text" class="form-control" name="lastname" placeholder="Last name">
    </div>
    <div class="form-group col-md-6">
    	<label for="exampleInputEmail1">Email address</label>
      <input type="email" class="form-control"  name="email" id="inputEmail4" placeholder="Email">
    </div>
    <!-- USERNAME -->
    <div class="form-group col-md-6">
    	<label for="validationServerUsername">Username</label>
      	<input type="username" class="form-control" name="username" id="inlineFormInputGroup" placeholder="Username">
    </div>
    <div class="form-group col-md-6">
    	<label for="exampleInputPassword1">Password</label>
      		<input type="password" class="form-control" name="password" id="inputPassword4" placeholder="Password">
    </div>
     <div class="form-group col-md-6">
     	<label for="validationServer01">Birthdate</label>
      	<input type="text" class="form-control"  name="birthday" id="inputDate" placeholder="yyyy-mm-dd">
    </div>
  </div>
  <button class="btn btn-primary" type="submit">Register</button>
</form>
<div>