body{

}

/* homepage universal*/
a.blog-header-logo{
	font-family: 'Abril Fatface';
	font-size: 25px;
	color: black;
}
section{
	height: 600px;
}

div#learn-text{
	width:100%;
	background-color: #403c3c;
	color:white;

}

/*homepage logged-in*/

.jumbotron.feature{
	width: 50%;
}



/*TEMPLATE  COMPONENTS CSS*/

/* MAIN PAGE UNIVERSAL
---------------------------- */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing h2 {
  font-weight: 400;
}
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  line-height: 1;
  letter-spacing: -.05rem;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}

/*-------------------------------------------*/