
/* HOMEPAGE UNIVERAL*/
a.blog-header-logo{
	font-family: 'Abril Fatface';
	font-size: 25px;
	color: black;
}


section{
	height: 600px;
}
.row {
    margin:0
}

div#learn-text{
	width:100%;
	background-color: #403c3c;
	color:white;
	text-align: center;
}

#imgdiv{
	padding:0;
	margin:0;
}

.mainslide{
	height: 400px;
	width: 350px;
	opacity: .7;
}
.learntitle{
	margin-top: 7%;
}

/*HOMEPAGE LOGGED-IN*/

.jumbotron.feature{
	width: 50%;
	background: linear-gradient(to bottom right, #41a99e, #23f5a7);
	color: white;
}

.entrybtn{
	margin-right: 10px;
}

.profilebtn{
	margin-right: 10px;
}
.card.myarticle{
	margin: 7px 20px 5px 20px;
}

img.card-img-top{
	width: 100%;
	height: 50%;
    vertical-align: middle;
    border-style: none;
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px);
}

div.card.home{
	height: 560px;
	margin:  10px 18px 10px 0px;
}

.homejumbo{
	 background-image: url("/images/handsomeman.jpeg");
	 background-repeat: no-repeat;
	 background-size: cover;	
	 height: 430px;
}





/*LOGIN FORM*/

.container.loginform{
	margin-top: 80px;
	width: 450px;
}

/*PROFILE */
.zeepic{
	margin-top: -5%;
	margin-right: 5%;
	height: 250px;
	width: 250px;
}

/* BLOG POSTS PAGE */
.container.blog{
	width: 80%;	
	margin-top: 15px;
}

.postbox{
	margin-top: 55px;
	border:grey 2px;
}

/*SOCIAL*/
.socialbox{
	position:absolute;
	left: 12%;
	width: 80%;
}

.socialcard{
	margin: 7px 15px 5px 15px;
}



/* NEW POST */
.newpost{
	margin-left: 20%;
}

.createpost{
	
	width: 500px;
}

.title{
	margin-top: 5%;
	width: 750px;
}

.post{
	margin-top: 3%;
	width: 400px;
	
}
.date{
	margin-top: 1%;
	width: 450px;
}


div.note-editable{
	width: 500px;
}

input.form-control{
 width: 350px;
 }

.note-editor.note-frame {
	margin-top: 15px;
    width: 700px;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(169, 169, 169, 0.54);
    border-image: initial;
}
.publish{
	margin-left: 1.5%;
	background:linear-gradient(to bottom right, #296f68, #23c5f5);
}



/*TEMPLATE  COMPONENTS CSS*/

/* MAIN PAGE UNIVERSAL
---------------------------- */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing h2 {
  font-weight: 400;
}
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  line-height: 1;
  letter-spacing: -.05rem;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}

@media (max-width: 768px){
	div#learn-text{
	width:100%;
	background-color: #403c3c;
	color:white;
	flex-basis: auto;
	
  }
}
@media (max-width: 768px){
	#imgdiv{
	width:100%;
	flex-basis: auto;
}
}
/*-------------------------------------------*/